
<div class="row back">
    <div class="col-sm-12 col-md-12">
        <p>
            <a href="#" onclick="return back();" target="_self">
                <button type="button" class="btn btn-default" name="button">
                    <span class="glyphicon glyphicon-arrow-left"></span> Back
                </button>
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h1>Pay with bank transfer</h1>

        <p>
            Please, send the payment to the address below.
        </p>

        <p>
            Total price: <strong>{%=o.totalPrice%} &#8364;</strong>
        </p>
        <p>
            Bank no.: <strong>?</strong>
        </p>
        <p>
            Variable symbol: <strong>{%=o.orderNo%}</strong>
        </p>
    </div>
</div>
