
<div class="row back">
    <div class="col-sm-12 col-md-12">
        <p>
            <a href="#" onclick="return back();" target="_self">
                <button type="button" class="btn btn-default" name="button">
                    <span class="glyphicon glyphicon-arrow-left"></span> Back
                </button>
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>Thank you!</h1>

        <div class="alert alert-success" role="alert">Your payment was successful. We will send you the products soon.</div>

    </div>
</div>
