
<div class="row">
    <div class="col-sm-12 col-md-12">
        <p>
            <a href="#" onclick="return back();" target="_self">
                <button type="button" class="btn btn-default" name="button"><span class="glyphicon glyphicon-arrow-left"></span> <span>Back</span></button>
            </a>
        </p>
    </div>
</div>

<div class="row">

    <div class="col-sm-12 col-md-12">
       <div class="thumbnail">
         <img src="{%=o.product.img%}" alt="...">
         <div class="caption">
           <h3>{%=o.product.name%}</h3>
           <p>{%#o.product.description%}</p>
           <p>
               <span style="font-weight: bold; line-height: 30px">{%=o.product.price%} &#8364;</span>
               <a class="btn btn-success pull-right" data-id="{%=o.product.id%}" id="add-into-cart" role="button">Add into cart</a>
           </p>
         </div>
       </div>
     </div>

</div>
